.about {
  margin: 30px 0;
  display: flex;
  flex-wrap: nowrap;
  background-image: url("../../img/apropos.jpg");
  background-position: center;
  background-repeat: no-repeat;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  .presenter {
    border-radius: 2em;
    background-color: #d5d8dc;
    margin: 0.5em;
    padding: 0.2em;
  }
  .competences {
    border-radius: 2em;
    background-color: #d5d8dc;
    padding: 0.2em;
    margin: 0.5em;
    text-align: center;
  }
  table {
    margin: auto;
    padding: 1em;
  }
  td {
    width: 2em;
    padding: 1.5em;
  }
  img {
    width: 20px;
    height: 20px;
    margin-right: 2px;
  }
  .objectif {
    border-radius: 2em;
    background-color: #d5d8dc;
    padding: 0.2em;
    margin: 0.5em;
  }
  h2 {
    color: #5dade2;
  }
  p {
    width: 18em;
    font-weight: lighter;
    font-size: large;
    color: #2e4053;
  }
  @media screen and (max-width: 800px) {
    flex-direction: column;
    p {
      width: auto;
      margin: auto;
      padding: 1em;
      font-weight: lighter;
      color: #2e4053;
    }
    section {
      border: 1px solid green;
    }
    table {
      width: auto;
      padding: 0;
    }
    td {
      padding: 0.5em;
    }
  }
}
