.haut {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  a {
    text-decoration: none;
    color: green;
    padding: 0.5em;
    border-radius: 1em;
    font-weight: lighter;
  }
  a:hover {
    color: #d5d8dc;
    font-size: 17px;
    background-color: black;
    padding: auto;
  }
}
