.skills {
  margin: 30px 0;
  background-color: #d5d8dc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  h1 {
    color: #5dade2;
  }
  section {
    display: flex;
    padding: 0.5em;
    height: 50%;
  }
  ul {
    text-align: center;
  }
  li {
    text-align: center;
    margin: 1em;
  }
  img {
    width: 30%;
    height: 25em;
    position: relative;
    bottom: 1.5em;
    border-radius: 1em;
  }
  p {
    color: #2e4053;
  }
  @media screen and (max-width: 800px) {
    section {
      flex-direction: column;
    }
    img {
      align-self: center;
      width: 100%;
    }
  }
}
